In [1]:
import numpy as np
import pandas as pd

In [2]:
std_ids=np.array([0, 0, 3, 0, 2, 4, 2, 2, 2, 2])

In [3]:
df = pd.DataFrame({'ID': std_ids})
df

   ID
0   0
1   0
2   3
3   0
4   2
5   4
6   2
7   2
8   2
9   2

In [4]:
df['Duplicate'] = df['ID'].duplicated()
print(df['Duplicate'].to_numpy())

[False  True False  True False False  True  True  True  True]